<div ng-include="'components/nav/header.user.html'"></div>
<div class="ui grid">
      <div class="row">
        <div ng-include="'components/nav/sidebar.html'"></div>
        <div class="column" id="content" style="padding-left: 0">
          <div id="form-box" class="container-fluid">
            <div class="ui one column grid container">
              <div class="row form-container no-margin-top">
                <div class="column no-padding">
                  <div class="ui success-msg">
                    <span id="my-icon"><i class="check circle icon"></i></span>
                    <div>
                      <h3>
                        Member Registered Successfully
                      </h3>
                      <p>Waiting for approval and Membership Number generation from ANN Administrators</p>
                    </div>
                  </div>
                </div>
                </div>
          </div>
          </div>
        </div>
      </div>
    </div>
