<div ng-include="'components/nav/header.user.html'"></div>
<div class="ui grid">
      <div class="row">
        <div ng-include="'components/nav/sidebar.html'"></div>
        <div class="column" id="content">
          <div class="ui grid">
            <div id="dashboard-box" class="two column aligned row profile">
              <div class="sixteen wide column">
                <div>
                    <h2 class="ui header name-txt inline-display">Agent Registered Members</h2>
                    <div class="ui input right floated pull-right" style="padding: 10px 0;"><input type="text" placeholder="Search..." ng-model="agentRegistrations.searchText"/></div>
                          <div>
                            <span style="padding: 10px">{{agentRegistrations.filterData.length}} awaiting approval</span>
                            <table class="ui celled table">
                              <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Surname</th>
                                  <th>Date of birth</th>
                                  <th>Sex</th>
                                  <th>Email</th>
                                  <th>Phone</th>
                                  <th>State</th>
                                  <th>Local Govt.</th>
                                  <th></th>
                              </tr></thead>
                              <tbody>
                                <tr ng-repeat="prospect in agentRegistrations.filterData = (agentRegistrations.prospects | filter:agentRegistrations.searchText ) | limitTo:agentRegistrations.pageSize:agentRegistrations.pageSize*(agentRegistrations.currentPage-1) ">
                                  <td>{{prospect.firstname}}</td>
                                  <td>{{prospect.surname}}</td>
                                  <td>{{prospect.dateOfBirth | date: 'dd MMM, yyyy'}}</td>
                                  <td>{{prospect.sex}}</td>
                                  <td>{{prospect.email}}</td>
                                  <td>{{prospect.phone}}</td>
                                  <td>{{agentRegistrations.getState(prospect.state)}}</td>
                                  <td>{{agentRegistrations.getLGA(prospect.lga)}}</td>
                                  <td>
                                    <span ng-click="agentRegistrations.decline(prospect)" title="Decline"><i class="fa fa-ban" style="font-size: 20px; cursor:pointer; color: orangered"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span ng-click="agentRegistrations.approve(prospect)" title="Approve"><i class="fa fa-check-circle" style="font-size: 20px; cursor:pointer; color:lightseagreen"></i></span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <ul uib-pagination boundary-links="true" total-items="agentRegistrations.filterData.length" items-per-page="agentRegistrations.pageSize" ng-model="agentRegistrations.currentPage" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                          </div>
                </div>
              </div>
            
            </div>
            <div class="ui hidden section divider"></div>
            <div class="row">
              
            </div>
          </div>
        </div>
      </div>
    </div>


