<div ng-include="'components/nav/header.user.html'"></div>
<div class="ui grid">
      <div class="row">
        <div ng-include="'components/nav/sidebar.html'"></div>
        <div class="column" id="content">
          <div class="ui grid-inner">
            <div id="dashboard-box" class="two column aligned row profile">
              <div class="sixteen wide column">
                <div>
                    <h2 class="ui header name-txt inline-display">Members List</h2>
                    <div class="ui input right floated pull-right" style="padding: 10px 0;"><input type="text" placeholder="Search..." ng-model="memberList.searchText"/></div>
                          <div>
                            <span style="padding: 10px">{{memberList.members.length}} members found</span>
                            <table class="ui celled table">
                              <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Surname</th>
                                  <th>Member ID</th>
                                  <th>Date of birth</th>
                                  <th>Sex</th>
                                  <th>Phone</th>
                                  <th>State</th>
                                  <th>Local Govt.</th>
                                  <th>Status</th>
                                  <th></th>
                              </tr></thead>
                              <tbody>
                                <tr ng-repeat="member in memberList.members | filter:memberList.searchText">
                                  <td><a ng-href="/admin/profile/{{member._id}}">{{member.firstname}}</a></td>
                                  <td>{{member.surname}}</td>
                                  <td>{{member.memberId}}</td>
                                  <td>{{member.dateOfBirth | utc | date: 'dd MMM, yyyy'}}</td>
                                  <td>{{member.sex}}</td>
                                  <td>{{member.phone}}</td>
                                  <td>{{memberList.getState(member.state)}}</td>
                                  <td>{{memberList.getLGA(member.lga)}}</td>
                                  <td>
                                    <div class="indicator" ng-class="{red: member.status==='inactive', green: member.status === 'completed', orange: member.status==='started'}"></div>
                                    &nbsp;&nbsp;
                                    {{memberList.getStatus(member.status)}}
                                  </td>
                                  <td>
                                    <span ng-click="memberList.delete(member)"><i class="fa fa-trash" style="font-size: 20px; cursor:pointer;"></i></span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <ul uib-pagination boundary-links="true" total-items="memberList.filterData.length" items-per-page="memberList.pageSize" ng-model="memberList.currentPage" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                          </div>
                </div>
              </div>
            
            </div>
            <div class="ui hidden section divider"></div>
            <div class="row">
              
            </div>
          </div>
        </div>
      </div>
    </div>

