<div id="login-page" class="ui two column grid site-box">
  <div class="row no-padding">
    <div class="column no-padding img-section">

    </div>
    <div id="right-pane" class="column ui padded segment">
      <img class="ui centered image" src="images/Aliance-logo.png" />
      <h2 class="ui header centered padd-title h-title">Become a member of ANN Today!</h2>
      <form class="ui fluid form">
        <div class="field">
          <input type="text" placeholder="First Name" ng-model="register.firstName">
        </div>
        <div class="field">
          <input type="text" placeholder="Surname" ng-model="register.surname">
        </div>
        <div class="field">
          <input type="email" placeholder="Email Address" ng-model="register.email">
        </div>
        <div class="field">
          <input type="password" placeholder="Password" ng-model="register.password">
        </div>
        <div class="ui center aligned header">
          <button class="ui primary button sign-in-btn" ng-click="register.signUp()">
            Register
          </button>
          <br />
          <br />
          <span class="error">{{register.error}}</span>
        </div>
        <div class="ui small-txt center aligned header footer-txt">Copyright Alliance for new Nigeria, 2017</div>
      </form>
    </div>
  </div>
</div>
