<div ng-include="'components/nav/header.html'"></div>
<div id="form-box" class="container-fluid">
  <div class="ui one column grid container">
    <div class="row form-container no-margin-top">
      <div class="column no-padding">
        <div class="ui success-msg">
          <span id="my-icon"><i class="check circle icon"></i></span>
          <div>
            <h3>
              Registration Completed!

            </h3>
            <p>Login to your profile either on the web using the link below or on our user friendly mobile apps</p>
          </div>
          <div class="ui centered aligned header">
            <button class="ui button primary sign-in-btn" tabindex="0" ng-click="submit.gotoLogin()">
              Login to your Profile
            </button>
          </div>
        </div>
      </div>
      </div>
</div>
</div>
